@import '../../node_modules/antd/dist/antd.css';

#the-chart {
  height: 400px;
  width: 600px;
  border: solid 1px black;
}

.error {
  color: red;
}

.default {
  color: black;
}
div.main {
  float: left;
  margin: 5px;
  padding: 5px;
}

#chart-wrapper {
  position: relative;
  width: 30vw;
  float: left;
}

.ticker-info {
  display: inline-block;
  width: 30vw;
}

#stocklist td,
#stocklist th {
  border: solid 1px black !important;
  padding: 3px;
}

#stocklist {
  width: 500px;
}
