body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 50px;
}

#stocklist {
  float: left;
}

#stocklist td,
#stocklist th {
  background-color: #fff;
  border: solid 1px black !important;
  padding: 5px;
  text-align: center !important;
}

#stocklist th {
  background-color: #001529;
  color: #fff;
}

#the-chart {
  border: solid 1px black;
  float: left;
  height: 400px;
  margin: 30px;
  margin-left: 0;
  width: 600px;
}
