@import '~antd/dist/antd.css';

table,
th,
tr,
td {
  border: solid 1px black;
  padding: 3px;
}
table {
  height: 300px;
  width: 500px;
}

div.main {
  float: left;
  margin: 5px;
  padding: 5px;
}

#chart-wrapper {
  position: relative;
  width: 65vw;
  float: left;
}

.ticker-info {
  display: inline-block;
  width: 30vw;
}
